@import '@ds/scss/bootstrap-theme';
@import 'bootstrap/scss/bootstrap';
@import '@ds/scss/bootstrap-components';
@import '@ds/scss/bootstrap-utilities';
@import '@ds/scss/plantasonic-components';
@import '@ds/scss/navigation-framework';
@import '@ds/scss/application-shell';

html, body { height: 100%; margin: 0; }

body {
  background: var(--ds-color-surface-app);
  color: var(--ds-color-text-primary);
  font-family: var(--ds-font-family-sans);
}
